body{
	background:url(../images/loginimgbg.jpg) center center;
}
.loginCt {
    background-color: #fff;
    width: 380px;
    border-radius: 3px;
    padding-top: 30px;
    height: 440px;
    margin: 0 auto;
    margin-top: 100px;
}
#login-table{
	width:100%;
}
#login-table td{
	padding:10px;
}