body,p,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,input,select,table,tr,td,th{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
}
body{
	position:relative;
	font:14px/22px 'Microsoft Yahei';
}
ul,ol{
	list-style:none;
}
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	color:#900;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
.clearfix:after{
	display:block;
	height:0;
	content:".";
	visibility:hidden;
	clear:both;
}
.clearfix{
	zoom:1;
}







