<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{art_subject}</title>
<link type="text/css" rel="stylesheet" href="../../admin/templates/styles/reset.css">
<link type="text/css" rel="stylesheet" href="../../admin/templates/styles/layout.css">
<script src="../../common/js/jquery-1.10.0.min.js"></script>
<script>
$(function(){
	//页面加载完成后
	$.get('../../getCommentCount.php','id={newsid}',function(num){
		$('#cmt_count').text(num)
	});
})	
</script>
</head>
<body>
	<div id="wrapper">
		
		<div id="logo"><img src="../../admin/templates/images/logo.png"></div>
			
		
		<ul id="navi" class="clearfix">		
          <li><a href="#">首页</a></li>
          <li><a href="#">滚动</a></li>
          <li><a href="#">国内</a></li>
          <li><a href="#">国际</a></li>
          <li><a href="#">社会</a></li>
          <li><a href="#">图片</a></li>
          <li><a href="#">娱乐</a></li>
          <li><a href="#">军事</a></li>
          <li><a href="#">历史</a></li>
          <li><a href="#">百科</a></li>
          <li><a href="#">公益</a></li>
          <li><a href="#">评论</a></li>
		</ul>
		<h1 id="subject">{art_subject}</h1>
		<div id="article-info">{pub_time}	<a href="{ptr_url}" target="_blank">{ptr_name}</a>   <span class="cmt_num" id="cmt_count">{cmt_num}</span>&nbsp;&nbsp;<a href="../../comment.php?newsid={newsid}" target="_blank">评论</a></div>
	
		<div id="main" class="clearfix">
			<div class="left">
				<div class="article-body">
					{art_content}
				</div>
			</div>
			<div class="right"><img src="../../admin/templates/images/039dd55adb5942059c711c19043b72df.jpg"></div>
		</div>
		<div id="copy">
			<p>达内教育集团简介┊About Tarena┊广告服务┊联系我们┊招聘信息┊网站律师┊SINA English┊通行证注册┊产品答疑</p>
			<p>Copyright ©1996-2017 Tarena Corporation, All Rights Reserved</p>
			<p>达内教育集团 版权所有</p>
		</div>
	</div>
</body>
</html>