<h3>新闻管理</h3>
<ul>
	<li><a href="index.php?ctl=article&action=create">发布新闻</a></li>
	<?php if($_SESSION['admin_level'] >= 2) {?>
	<li><a href="index.php?ctl=article&action=index">新闻列表</a></li>
	<li><a href="index.php?ctl=article&action=recyclelist">新闻回收站</a></li>
	<?php }?>
</ul>	
<?php if($_SESSION['admin_level'] >= 2) {?>
<h3>栏目管理</h3>
<ul>
	<li><a href="index.php?ctl=category&action=create">添加栏目</a></li>
	<li><a href="index.php?ctl=category&action=list">栏目列表</a></li>
</ul>
<h3>合作伙伴管理</h3>
<ul>
	<li><a href="#">添加伙伴</a></li>
	<li><a href="#">伙伴列表</a></li>
</ul>
<?php }?>
<?php if($_SESSION['admin_level'] >= 3) {?>
<h3>用户管理</h3>
<ul>
	<li><a href="index.php?ctl=admin&action=create">添加用户</a></li>
	<li><a href="index.php?ctl=admin&action=index">用户列表</a></li>
</ul>
<?php }?>
<h3>项目说明手册</h3>
<ul>
	<li><a href="index.php?ctl=project">项目说明</a></li>
</ul>
<script>
	$(function(){
		$('#admin-menu>h3').click(function(){
			$(this).next().slideToggle();
		});	
		$('#admin-menu').height($(document).height());		
	});
</script>