<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻视界--后台管理--添加用户</title>
<link rel="stylesheet" href="public/styles/reset.css">
<link rel="stylesheet" href="public/styles/layout.css">
<script src="public/scripts/jquery-1.10.0.min.js"></script>
<script>
$(function(){
	//检测用户名
	function checkUsername(){
		if($('#admin_name').val() == ''){
			$('#username_checkinfo').html('用户名为必填项');
			$('#admin_name').focus();
			return false;
		}
		$('#username_checkinfo').html('');
		return true;
	}
	//检测密码
	function checkPassword(){
		if($('#admin_pass').val() == ''){
			$('#password_checkinfo').html('密码为必填项');
			$('#admin_pass').focus();
			return false;
		}
		$('#password_checkinfo').html('');
		return true;
	}
	//检测确认密码
	function checkPassword2(){
		if($('#admin_pass').val() != $('#admin_pass2').val()){
			$('#password2_checkinfo').html('两次密码不一致');
			$('#admin_pass2').focus();
			return false;
		}
		$('#password2_checkinfo').html('');
		return true;
	}
	//检测真实姓名
	function checkTruename(){
		if($('#true_name').val() == ''){
			$('#truename_checkinfo').html('真实姓名为必填项');
			$('#true_name').focus();
			return false;
		}
		$('#truename_checkinfo').html('');
		return true;
	}
	//用户名文本框失去点后进行检测
	$('#admin_name').blur(function(){
		checkUsername();
		$('#true_name').val($(this).val());
	});
	
	//密码文本框失去点后进行检测
	$('#admin_pass').blur(function(){
		return checkPassword();
	})
	//确认密码文本框失去点后进行检测
	$('#admin_pass2').blur(function(){
		return checkPassword2();
	})
	//真实姓名文本框失去点后进行检测
	$('#true_name').blur(function(){
		return checkTruename();
	})
	
	//表单提交时进行检测
	$('#form').submit(function(){		
		return checkUsername() && checkPassword() && checkPassword2() && checkTruename();
	})
})
</script>
</head>
<body>

	<div id="header">
		<div class="logo"><img src="public/images/logo.png" alt=""></div>
	</div>
	<div id="admin-menu">	
	<?php include_once 'admin-menu.html'?>
	</div>
	<div id="admin-main">
		<div id="admin-main-wrapper">
			<div class="current-position">当前位置：<a href="index.php">首页</a>&nbsp;&gt;&nbsp;添加用户</div>
			<form id="form" action="index.php?ctl=admin&action=store" method="post">
				<table>
					<tr>
						<td class="col-title">用户名</td>
						<td><input type="text" name="admin_name" class="cate_name" id="admin_name"><span id="username_checkinfo"></span></td>
					</tr>
					<tr>
						<td class="col-title">密码</td>
						<td><input type="password" name="admin_pass" class="cate_name" id="admin_pass"><span id="password_checkinfo"></span></td>
					</tr>
					<tr>
						<td class="col-title">确认密码</td>
						<td><input type="password" name="admin_pass2" id="admin_pass2" class="cate_name"><span id="password2_checkinfo"></span></td>
					</tr>
					<tr>
						<td class="col-title">真实姓名</td>
						<td><input type="text" name="true_name" class="cate_name" id="true_name"><span id="truename_checkinfo"></span></td>
					</tr>	
					<tr>
						<td class="col-title">用户等级</td>
						<td>
							<select name="admin_level">
								<option value="1">新闻采编</option>
								<option value="2">新闻主编</option>
								<option value="3">系统管理员</option>
							</select>
						</td>
					</tr>										
					<tr>
						<td>&nbsp;</td>
						<td><input type="submit" value="保存" class="submit-button"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>	
</body>
</html>





