<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻视界--后台管理--新闻回收站</title>
<link rel="stylesheet" href="public/styles/reset.css">
<link rel="stylesheet" href="public/styles/layout.css">
<script src="public/scripts/jquery-1.10.0.min.js"></script>
<script>
$(function(){
	$('#keywords').val('<?php echo $_GET['keywords']?>');
	$('#article-list tr:not(:first)').hover(
		function(){ //mouseover
			$(this).addClass('hover');
		},
		function (){ //mouseout
			$(this).removeClass('hover');
		}
	).css('borderTop','1px solid #ccc');;
	$('#control_checkbox').click(function(){
		$(':checkbox[name=article_checkbox\\[\\]]').prop('checked',$(this).prop('checked'));
		if($(this).prop('checked')){
			$('#article-list tr:not(:first)').addClass('active');
		} else {
			$('#article-list tr:not(:first)').removeClass('active');
		}
	});
	$(':checkbox[name=article_checkbox\\[\\]]').click(function(){
		$('#control_checkbox').prop('checked',$(':checkbox[name=article_checkbox\\[\\]]:checked').size() == $(':checkbox[name=article_checkbox\\[\\]]').size());
		if($(this).prop('checked')){
			$(this).parent().parent().addClass('active');
		} else {
			$(this).parent().parent().removeClass('active');
		}
	});
	$('td.is_checked').on('click','.checked',function(){
		var $obj = $(this);
		//window.alert($(this).attr('data-id'));
		$.get('index.php?ctl=article&action=unchecked&id=' + $(this).attr('data-id'),function(){
			$obj.addClass('unchecked').removeClass('checked').attr('src','public/images/unchecked.png');
		})
	});
	$('td.is_checked').on('click','.unchecked',function(){
		var $obj = $(this);
		$.get('index.php?ctl=article&action=checked&id=' + $(this).attr('data-id'),function(){			
			$obj.addClass('checked').removeClass('unchecked').attr('src','public/images/checked.png');
		})
	});	
	$('#search-btn').click(function(){
		location.href = 'index.php?ctl=article&action=recyclelist&keywords=' + $('#keywords').val();
	});
	$('#delete_btn').click(function(){
		$('#form').attr('action','index.php?ctl=article&action=remove').submit();
		
	});
	$('#recycle_btn').click(function(){
		$('#form').attr('action','index.php?ctl=article&action=restore').submit();
		
	});
});
</script>
</head>
<body>
	<div id="header">
		<div class="logo"><img src="public/images/logo.png" alt=""></div>
	</div>
	<div id="admin-menu">
	<?php include_once 'admin-menu.html'?>
	</div>
	<div id="admin-main">
		<div id="admin-main-wrapper">
			<div class="current-position">当前位置：<a href="index.php">首页</a>&nbsp;&gt;&nbsp;新闻回收站</div>
				<form method="post" id="form">
				<div id="buttons-wrapper">
					<input type="button" class="button" value="彻底删除" id="delete_btn">
					<input type="button" class="button" value="还原" id="recycle_btn">
				</div>					
				<table id="search-table">
					<tr>						
						<td>							
							<input type="text" name="keywords" class="search-txt" id="keywords">
							<input type="button" value="" class="search-btn" id="search-btn">
						</td>
					</tr>
					
				</table>
			
			<table id="article-list">
				<tr>
					<td class="checkbox"><input type="checkbox" id="control_checkbox"></td>
					<td>新闻标题</td>
					<td class="cate_name">所属栏目</td>
					<td class="is_checked">状态</td>
					<td class="add_time">发布日期</td>
				</tr>
				<?php foreach($rowset as $row){?>
				<tr>
					<td><input type="checkbox" name="article_checkbox[]" value="<?php echo $row['id']?>"></td>
					<td>
					<a href="index.php?ctl=article&action=modify&id=<?php echo $row['id']?>" title="单击可编辑">
						<?php
							if($_GET['keywords']){
								echo preg_replace('/(' . $_GET['keywords'] .  ')/i','<span style="color:red;">$1</span>',$row['art_subject']);
							} else {
								echo $row['art_subject'];
							}
						?>
					</a></td>
					<td><?php echo $row['cate_name']?></td>
					<td class="is_checked"><?php echo $row['is_checked'] ? '<img class="checked" data-id="'.$row['id'].'" src="public/images/checked.png" alt="审核" title="审核">' : '<img class="unchecked" data-id="' . $row['id'] .'" src="public/images/unchecked.png" alt="未审核" title="未审核">'?></td>
					<td><?php echo date('Y-m-d H:i',$row['add_time'])?></td>
				</tr>
				<?php }?>
			</table>
			</form>						
		</div>
	</div>
</body>
</html>





