<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻视界--后台管理--栏目列表</title>
<link rel="stylesheet" href="public/styles/reset.css">
<link rel="stylesheet" href="public/styles/layout.css">
<script src="public/scripts/jquery-1.10.0.min.js"></script>
<script>
$(function(){
	$('#keywords').val('<?php echo $_GET['keywords']?>');
	$('#article-list tr:not(:first)').hover(
			function(){ //mouseover
				$(this).addClass('hover');
			},
			function (){ //mouseout
				$(this).removeClass('hover');
			}
	).css('borderTop','1px solid #ccc');
	$('#control_checkbox').click(function(){
		$(':checkbox[name=article_checkbox\\[\\]]').prop('checked',$(this).prop('checked'));
		if($(this).prop('checked')){
			$('#article-list tr:not(:first)').addClass('active');
		} else {
			$('#article-list tr:not(:first)').removeClass('active');
		}
	});
	$(':checkbox[name=article_checkbox\\[\\]]').click(function(){
		$('#control_checkbox').prop('checked',$(':checkbox[name=article_checkbox\\[\\]]:checked').size() == $(':checkbox[name=article_checkbox\\[\\]]').size());
		if($(this).prop('checked')){
			$(this).parent().parent().addClass('active');
		} else {
			$(this).parent().parent().removeClass('active');
		}
	});
	$('td.is_checked').on('click','.checked',function(){
		var $obj = $(this);
		//window.alert($(this).attr('data-id'));
		$.get('index.php?ctl=article&action=unchecked&id=' + $(this).attr('data-id'),function(){
			$obj.addClass('unchecked').removeClass('checked').attr('src','public/images/unchecked.png');
		})
	});
	$('td.is_checked').on('click','.unchecked',function(){
		var $obj = $(this);
		$.get('index.php?ctl=article&action=checked&id=' + $(this).attr('data-id'),function(){			
			$obj.addClass('checked').removeClass('unchecked').attr('src','public/images/checked.png');
		})
	});	
	$('#search-btn').click(function(){
		location.href = 'index.php?ctl=article&action=index&keywords=' + $('#keywords').val();
	});
	$('#delete_btn').click(function(){
		$('#form').attr('action','index.php?ctl=article&action=remove').submit();
		
	});
	$('#recycle_btn').click(function(){
		$('#form').attr('action','index.php?ctl=article&action=recycle').submit();
		
	});
});
</script>
</head>
<body>
	<div id="header">
		<div class="logo"><img src="public/images/logo.png" alt=""></div>
	</div>
	<div id="admin-menu">
	<?php include_once 'admin-menu.html'?>
	</div>
	<div id="admin-main">
		<div id="admin-main-wrapper">
			<div class="current-position">当前位置：<a href="index.php">首页</a>&nbsp;&gt;&nbsp;栏目列表</div>
				<form method="post" id="form">
			
					<table id="article-list">
						<tr>							
							<td>栏目名称</td>
							<td class="cate_name">所属栏目</td>							
						</tr>
						<?php foreach($rowset as $row) {?>				
						<tr>							
							<td><?php echo $row['cate_name']?></td>
							<td>&nbsp;</td>							
						</tr>				
						<?php }?>
				</table>
			</form>						
		</div>
	</div>
</body>
</html>





