<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻视界--后台管理--添加栏目</title>
<link rel="stylesheet" href="public/styles/reset.css">
<link rel="stylesheet" href="public/styles/layout.css">
<script src="public/scripts/jquery-1.10.0.min.js"></script>
</head>
<body>

	<div id="header">
		<div class="logo"><img src="public/images/logo.png" alt=""></div>
	</div>
	<div id="admin-menu">	
	<?php include_once 'admin-menu.html'?>
	</div>
	<div id="admin-main">
		<div id="admin-main-wrapper">
			<div class="current-position">当前位置：<a href="index.php">首页</a>&nbsp;&gt;&nbsp;添加栏目</div>
			<form action="index.php?ctl=article&action=store" method="post">
				<table>
					<tr>
						<td class="col-title">栏目名称</td>
						<td><input type="text" name="cate_name" class="cate_name"></td>
					</tr>
					<tr>
						<td class="col-title">所属栏目</td>
						<td>
							<select name="cate_id">
								<option value="0">顶级分类</option>
								<?php echo $option;?>
							</select>
							
						</td>
					</tr>										
					<tr>
						<td>&nbsp;</td>
						<td><input type="submit" value="保存" class="submit-button"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>	
</body>
</html>





