<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻视界--后台管理--首页</title>
<link rel="stylesheet" href="public/styles/reset.css">
<link rel="stylesheet" href="public/styles/layout.css">
<script src="public/scripts/jquery-1.10.0.min.js"></script>
</head>
<body>
	<div id="header">
		<div class="logo"><img src="public/images/logo.png" alt=""></div>
		<div class="logout">你好,<?php echo $_SESSION['true_name']?>&nbsp;<a href="index.php?ctl=admin&action=logout">注销</a></div>
	</div>
	<div id="admin-menu">
	<?php include_once 'admin-menu.html'?>
	</div>
	<div id="admin-main">
		<div id="admin-main-wrapper">
			<table>
				<tr>
					<td class="col-title">系统名称</td>
					<td>新闻视界CMS项目</td>
				</tr>
				<tr>
					<td class="col-title">开发团队</td>
					<td>达内PHP学院-PSD1703</td>
				</tr>	
				<tr>
					<td class="col-title">操作系统</td>
					<td><?php echo PHP_OS;?></td>
				</tr>
				<tr>
					<td class="col-title">PHP版本</td>
					<td><?php echo PHP_VERSION;?></td>
				</tr>
				<tr>
					<td class="col-title">PHP运行方式</td>
					<td><?php echo PHP_SAPI;?></td>
				</tr>
				<tr>
					<td class="col-title">支持PDO</td>
					<td><img src="public/images/<?php echo extension_loaded('pdo') ? 'support.png' : 'unsupport.png'?>"></td>
				</tr>
				<tr>
					<td class="col-title">支持GD</td>
					<td><img src="public/images/<?php echo extension_loaded('gd') ? 'support.png' : 'unsupport.png'?>"></td>				
				</tr>								
				<tr>
					<td class="col-title">支持Mbstring</td>
					<td><img src="public/images/<?php echo extension_loaded('mbstring') ? 'support.png' : 'unsupport.png'?>"></td>				
				</tr>		
			</table>
		</div>
	</div>
</body>
</html>





