<!DOCTYPE html>
<html>
<head>
<?php echo $meta;?>
<meta charset="UTF-8">
<title>新闻视界--后台管理--新闻列表</title>
<link rel="stylesheet" href="public/styles/reset.css">
<link rel="stylesheet" href="public/styles/layout.css">
<script src="public/scripts/jquery-1.10.0.min.js"></script>
</head>
<body>
	<div id="header">
		<div class="logo"><img src="public/images/logo.png" alt=""></div>
	</div>
	<div id="admin-menu">
	<?php include_once 'admin-menu.html'?>
	</div>
	<div id="admin-main">
		<div id="admin-main-wrapper">
			<div class="current-position">当前位置：<a href="index.php">首页</a>&nbsp;&gt;&nbsp;信息提示</div>
			<table>
				<tr>					
					<td><?php echo $message?></td>
				</tr>				
			</table>						
		</div>
	</div>
</body>
</html>





